/* 초기설정 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;

}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* 초기설정 완료 */

body {
    padding-top: 55px;
}


#mainImg {
    display: inline;
    padding: 0;
    margin: 0;
    /* 크기고정값 */
    width: 100%;
    height: 250px;
}

/* 768px 미만 검색창 크기 조정 */
#searchBar {
    width: 70%;
    display: inline;
}

#searchButton {
    display: inline;
    float: right;
    margin-right: 10%;
}

/* 스마트폰 세로 화면설정 */
.navbar-brand {
    padding-left: 38%;
}

#item {
    padding: 0;
    margin: 0;
    display: inline;
}

#item img {
    padding: 0;
    margin: 0;
    display: inline;
}

#main_top_menu {
    margin: 10px;
}

#underVar {
    margin: 30px 0;
}




/* category */

.category_atag{
    text-decoration: none !important;
    color: rgb(60,60,60);
    
}

.category_atag:hover{
    color: salmon;
}


.category_board{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.category_h{
    text-align: center;
}

.category_a{
    list-style:none;
    border:solid 1px gray;
    width: 25%;
    height: 35px; 
    float: left;
    padding-top: 10px;
}

.category_a:hover{
    background-color: lemonchiffon;
}

.pd_name{
    text-align: center;
}

.category_b{
    list-style:none;
    border:solid 1px gray;
    width: 25%;
    height: 35px;
    float: left;
    padding-top: 10px;  
}
.category_b:hover{
    background-color: lemonchiffon;
}

.category_img_size{
    width: 100%;
    height: 100%;
    
}

/* category 끝 */


/* login */

.login_header h2{
    text-align: center;
    font-size: 30px;

}


/* 회 원 가 입 */

.signup{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    text-align: center;
}

.signup_board_outside{
    border: 2px solid lightgrey;
    position: absolute;
    width: 100%;
    height: 800px;
}

.signup_board_inside{
    margin-left: 20px;
}

.signup_id{
    margin-top: 100px;
    float: left;
    
}

.signup_id2{
    margin-top: 105px;
    float: left;
    
}

.signup_pw{
   
    clear: both;
    
}

.signup_pw1{
    margin-top: 30px;
    float: left;
    
}

.signup_pw2{
    margin-top: 30px;
    float: left;
    
}


@media screen and (min-width:576px) {
    /* 스마트폰 가로 */
    .navbar-brand {
        padding-left: 45%;
    }
}

@media screen and (min-width:768px) {
    /* 타블렛 */
    .navbar-brand {
        padding-left: 30px;
    }
    
    #bs-example-navbar-collapse-1 {
        float: right;
    }
}

@media screen and (min-width:992px) {
    /* 데스크탑 */
}

@media screen and (min-width:1200px) {
    /* 큰 데스크탑 */
}





